<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
    <head>
        <title>CTS</title>
        <!-- Latest compiled and minified CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'css/clinic.css' %}">

        {# Fonts#}
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">


<body class='loader'>
  <nav class="navbar navbar-default techfont custom-navbar">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class='navbar-brand bigbrand' href="{% url 'dash' %}">CTS</a></li>
        <li><a href="{% url 'patient_list' %}">Patients</a></li>
        <li><a href="{% url 'doctor_list' %}">Doctors</a></li>
        <li><a href="{% url 'visit_list' %}">Visits</a></li>
        <li><a href="{% url 'help' %}">help</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>

      <ul class="nav navbar-right navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
      </ul>
  </div>
</nav>

  {# The actual blog posts#}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <div class="patients">
                    {% block content %}
                    {% endblock %}
                  </div>
                </div>
            </div>
        </div>

{# SCRIPTS#}

<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>

</body>
</html>
