{% extends "clinic/base.html" %}
{% block content %}
<h1>Patient Portal:</h1>
<div class="add_patient">
  <a href="{% url 'patient_create' %}">Add new Patient</a>
</div>
<div class="basic_search">
  <form method="GET" action=""]>
    <input  type="text" name="q"  placeholder="Search..." value="{{ request.GET.q}}" />
    <input type="submit" value="Search" />
</form>
</div>
<div class="centerstage">
  {% for patient in patient_list %}
    <div class="PATIENT">
      <h3><a href="{% url 'patient_detail' pk=patient.pk %}">{{ patient }}</a></h3>
    </div>
  {% endfor %}
</div>
<!-- Need to limit the number of pages at the bottom of the page to 10  -->
<!-- I believe this can be achieved using javascript -->
{% if patient_list.has_other_pages %}
  <ul class="pagination">
    {% if patient_list.has_previous %}
      <li><a href="?page={{ patient_list.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for i in patient_list.paginator.page_range %}
      {% if patient_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% endif %}
    {% endfor %}
    {% if patient_list.has_next %}
      <li><a href="?page={{ patient_list.next_page_number }}">&raquo;</a></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
